n8n/workflow_webhook_triage.json
{
  "name": "Webhook Triage (CrewAI MVP)",
  "nodes": [
    {
      "parameters": {
        "path": "triage",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "={{$json[\"subject\"] || $json[\"body\"]?.[\"subject\"] || \"\"}}"
            },
            {
              "name": "body",
              "value": "={{$json[\"body\"] || $json[\"body\"]?.[\"body\"] || \"\"}}"
            },
            {
              "name": "from",
              "value": "={{$json[\"from\"] || $json[\"body\"]?.[\"from\"] || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Set",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        260
      ]
    },
    {
      "parameters": {
        "command": "REPLACE_ME_WITH_YOUR_COMMAND",
        "options": {}
      },
      "id": "ExecuteCommand",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        860,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"stdout\"] || $json}}",
        "options": {}
      },
      "id": "RespondToWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1110,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "1",
  "id": "1"
}